<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>tab1</string>
		<key>id</key>
		<string>jp.beco.tab1</string>
		<key>backgroundColor</key>
		<array>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.7</real>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>highlightedBackgroundColor</key>
		<array>
			<real>0.3</real>
			<real>0.3</real>
			<real>0.3</real>
		</array>
		<key>highlightedTextColor</key>
		<array>
			<real>1</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>tab2</string>
		<key>id</key>
		<string>jp.beco.tab2</string>
		<key>backgroundColor</key>
		<array>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.7</real>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>highlightedBackgroundColor</key>
		<array>
			<real>0.3</real>
			<real>0.3</real>
			<real>0.3</real>
		</array>
		<key>highlightedTextColor</key>
		<array>
			<real>1</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>tab3</string>
		<key>id</key>
		<string>jp.beco.tab3</string>
		<key>backgroundColor</key>
		<array>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.7</real>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>highlightedBackgroundColor</key>
		<array>
			<real>0.3</real>
			<real>0.3</real>
			<real>0.3</real>
		</array>
		<key>highlightedTextColor</key>
		<array>
			<real>1</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>tab4</string>
		<key>id</key>
		<string>jp.beco.tab4</string>
		<key>backgroundColor</key>
		<array>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.7</real>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>highlightedBackgroundColor</key>
		<array>
			<real>0.3</real>
			<real>0.3</real>
			<real>0.3</real>
		</array>
		<key>highlightedTextColor</key>
		<array>
			<real>1</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>tab5</string>
		<key>id</key>
		<string>jp.beco.tab5</string>
		<key>backgroundColor</key>
		<array>
			<real>0.7</real>
			<real>0.7</real>
			<real>0.7</real>
		</array>
		<key>textColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>highlightedBackgroundColor</key>
		<array>
			<real>0.3</real>
			<real>0.3</real>
			<real>0.3</real>
		</array>
		<key>highlightedTextColor</key>
		<array>
			<real>1</real>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
</array>
</plist>
